{% extends 'template' %}
{% block head_footer %}
    <script src="/cookbooks.js"></script>
{% endblock %}
{% block content %}
    <h1>Cookbooks</h1>
    {% for cookbook in cookbooks() %}
    <ul class="list-group">
        <li class="list-group-item active" data-interactor="title" data-id="{{ cookbook._id }}">
            <span class="action-group">{{ cookbook._name }}</span>
            {% if metadata_editor and user.permissions.owner %}
            <a href="/admin/cookbooks/{{ cookbook._id }}/meta" class="pull-right action-edit-permission">☆</a>
            {% endif %}
        </li>
        {% for attribute in cookbook.recipes %}
        <li class="list-group-item interactor" data-interactor="{{ attribute._interactor }}" data-thing="{{ attribute._id }}" data-attribute="{{ attribute._code }}" onclick>
            [[{ htmld.attribute|safe }]]
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {#
    <pre>{{ cookbooks()|json(2)|safe }}</pre>
    <pre>{{ things()|json(2)|safe }}</pre>
    #}
{% endblock %}
{% block body_footer %}
<script>var settingsd = {{ settings()|json(2)|safe }};</script>
<script src="/static/mqttws31.js"></script>
<script src="/static/index.js"></script>
[[{ htmld.css|safe }]]
[[{ htmld.js|safe }]]
{% endblock %}
