{% extends 'template' %}
{% block head_footer %}
    <script>var rdd = {};</script>
{% endblock %}
{% block content %}
    {% for recipes in cookbook()|groupBy('_group') %}
    <ul class="list-group">
        <li class="list-group-item active" id="{{ recipes[0].cookbook_id }}">
            <span class="action-group">{{ loop.key }}</span>
            {% if user.permissions.owner %}
            <a href="/auth/cookbooks/{{ recipes[0].cookbook_id }}" class="pull-right action-edit-permission">☆</a>
            {% endif %}
        </li>
        {% for a in recipes %}
<script>rdd[{{ a._id|json|safe}}] = {
id: {{ a._id|json|safe }},
api: {
  url: "/api/cookbook/{{ a._id }}"
},
name: {{ a.name|json|safe }}{% if a.state %}, 
state: {{ a.state|json|safe }}{% endif %}
};</script>
        <li class="list-group-item{% if a._interactor == "click" %} action-item{% endif %}" data-id="{{ a._id }}" onclick="">
            <span class="action-name text-primary">{{ a.name }}</span>
            {% if a._interactor == "enumeration" %}
            <span class="interactor action-subcommands">
                <div class="btn-group btn-group-sm">
                {% for vd in a._values %}
                    <button type="button" class="btn btn-default action-item" data-id="{{ a._id}}" data-value="{{ vd.value }}">{{ vd.name }}</button>
                {% endfor %}
                </div>
            </span>
            {% endif %}
            {% if a._interactor == "color" %}
            <span class="interactor action-subcommands">
                SET THE COLOR
            </span>
            {% endif %}
            <span class="action-message text-warning"></span>
            <span class="action-state text-muted"></span>
        {#
        <li class="list-group-item action-item" data-id="{{ a._id }}" onclick="">
            <span class="action-name text-primary">{{ a.name }}</span>
            <span class="action-message text-warning"></span>
            <span class="action-state text-muted"></span>
            {% endif %}
        #}
        {% if settings().debug.pre %}<pre>{{ a|scrub|json(2)|safe }}</pre>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
{% block body_footer %}
    <script>var settingsd = {{ settings()|json(2)|safe }};</script>
    <script src="mqttws31.js"></script>
    <script src="index.js"></script>
{% endblock %}
