{% extends 'template' %}
{% block head_footer %}
    <script>var rdd = {};</script>
{% endblock %}
{% block content %}
    [[{ htmld.header|safe }]]
    {% for recipes in cookbook()|groupBy('_group') %}
    <ul class="list-group">
        <li class="list-group-item active" id="{{ recipes[0].cookbook_id }}">
            <span class="interactor-group">{{ loop.key }}</span>
            {% if user.permissions.owner %}
            <a href="/auth/cookbooks/{{ recipes[0].cookbook_id }}" class="pull-right interactor-edit-permission">☆</a>
            {% endif %}
        </li>
        {% for a in recipes %}
<script>
rdd[{{ a._id|json|safe}}] = {
  id: {{ a._id|json|safe }},
  api: { url: "/api/cookbook/{{ a._id }}" },
  out: "value",
  name: {{ a._name|json|safe }}{% if a.state %}, 
  state: {{ a.state|json|safe }}{% endif %}
};
</script>
<li class="list-group-item interactor interactor-{{ a._interactor }}" data-id="{{ a._id }}" onclick="">
    <div>interactor:{{ a._interactor }}</div>
    [[{ htmld.attribute|safe }]]
</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
{% block body_footer %}
    <script>var settingsd = {{ settings()|json(2)|safe }};</script>
    <script src="mqttws31.js"></script>
    <script src="index.js"></script>
    [[{ htmld.footer|safe }]]
{% endblock %}
