{% extends 'template' %}
{% block head_footer %}
    <script>var rdd = {};</script>
{% endblock %}
{% block content %}
    {% for recipes in cookbook()|groupBy('group') %}
    <ul class="list-group">
        <li class="list-group-item active">
            <span class="action-group">{{ loop.key }}</span>
        </li>
        {% for recipe in recipes %}

<script>rdd[{{ recipe._id|json|safe}}] = {
id: {{ recipe._id|json|safe }},
api: {
  url: "/api/cookbook/{{ recipe._id }}"
},
name: {{ recipe.name|json|safe }}{% if recipe.state %}, 
state: {{ recipe.state|json|safe }}{% endif %}
};</script>
            {% if recipe.values %}
        <li class="list-group-item" data-id="{{ recipe._id }}" onclick="">
            <span class="action-name text-primary">{{ recipe.name }}</span>
            <span class="action-subcommands">
                <div class="btn-group btn-group-sm">
                {% for value in recipe.values %}
                    <button type="button" class="btn btn-default action-item" data-id="{{ recipe._id}}" data-value="{{ value }}">{{ value }}</button>
                {% endfor %}
                </div>
            </span>
            <span class="action-message text-warning"></span>
            <span class="action-state text-muted"></span>
            {% else %}
        <li class="list-group-item action-item" data-id="{{ recipe._id }}" onclick="">
            <span class="action-name text-primary">{{ recipe.name }}</span>
            <span class="action-message text-warning"></span>
            <span class="action-state text-muted"></span>
            {% endif %}
        <pre>{{ recipe|scrub|json(2)|safe }}</pre>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
{% block body_footer %}
    <script>var settingsd = {{ settings()|json(2)|safe }};</script>
    <script src="mqttws31.js"></script>
    <script src="index.js"></script>
{% endblock %}
