{% extends 'template' %}
{% block head_footer %}
    <script src="/things.js"></script>
{% endblock %}
{% block content %}
    <h1>Things</h1>
    {% for thing in things() %}
    <ul class="list-group">
        {# <pre>{{ thing.meta|json(2)|safe }}</pre> #}
        <li class="list-group-item active iotdb-thing" data-interactor="title" data-id="{{ thing._id }}" id="{{ thing._id }}">
            <a class="action-group iot-name" data-toggle="popover" title="{{ thing.model['schema:name'] }}" data-content="{{ format_metadata(thing)|safe }}">{{ thing._name }}</a>
            {% if metadata_editor and user.is_owner %}
            <a href="/admin/things/{{ thing._id }}/meta" class="pull-right action-edit-permission">☆</a>
            {% endif %}
            {# <b>metadata_editor:{{ metadata_editor }}owner: {{user.is_owner }}</b> #}
        </li>
        {% for attribute in thing.model["iot:attribute"] %}
            <li class="list-group-item interactor" data-interactor="{{ attribute._interactor }}" data-thing="{{ thing._id }}" data-attribute="{{ attribute._code }}" onclick>
                [[{ htmld.attribute|safe }]]
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
{% block body_footer %}
<script>var settingsd = {{ settings()|json(2)|safe }};</script>
<script src="/static/index.js"></script>
[[{ htmld.css|safe }]]
[[{ htmld.js|safe }]]
{% endblock %}
