{% extends 'template' %}
{% block head_footer %}
    <script>var rdd = {};</script>
{% endblock %}
{% block content %}
    <h1>Things</h1>
    {% for thing in things()|groupBy('_group') %}
    <ul class="list-group">
        <li class="list-group-item active" id="{{ thing[0]._thing_id }}">
            <span class="action-group">{{ loop.key }}</span>
            {% if user.permissions.owner %}
            <a href="/auth/things/{{ thing[0]._thing_id }}" class="pull-right action-edit-permission">☆</a>
            {% endif %}
        </li>
        {% for a in thing %}
<script>{% if loop.first %}
var state = {{ a.state|json(2)|safe }};
var api = {
  url: "/api/things/{{ a._thing_id }}"
};
rdd[{{ a._thing_id|json|safe}}] = {
  section: "things",
  id: {{ a._thing_id|json|safe }},
  api: api,
  name: {{ a._thing_name|json|safe }},
  state: state
};{% endif %}
rdd[{{ a._id|json|safe}}] = {
  section: "things",
  id: {{ a._id|json|safe }},
  api: api,
  name: {{ a._name|json|safe }},
  out: {{ a._out|json|safe }},
  in: {{ a._in|json|safe }},
  state: state
};
</script>
<li class="list-group-item interactor interactor-{{ a._interactor }}" data-id="{{ a._id }}" data-in="{{ a._in }}" data-out="{{ a._out }}" onclick>
    {% if a._interactor == "click" %}
        <div>
            <span class="interactor-name text-primary">{{ a._name }}</span>
            <span class="interactor-message text-warning"></span>
            <span class="interactor-state text-muted"></span>
        </div>
    {% endif %}
    {% if a._interactor == "enumeration" %}
        <div>
            <span class="interactor-name text-primary">{{ a._name }}</span>
            <span class="interactor-interactor">
                <div class="btn-group btn-group-sm">
                {% for vd in a._values %}
                    <button type="button" class="btn btn-default interactor-item" data-id="{{ a._id}}" data-value="{{ vd.value }}">{{ vd.name }}</button>
                {% endfor %}
                </div>
            </span>
            <span class="interactor-message text-warning"></span>
            <span class="interactor-state text-muted"></span>
        </div>
    {% endif %}
    {% if a._interactor == "color" %}
        <div>
            <span class="interactor-name text-primary">{{ a._name }}</span>
            <span class="interactor-interactor">
                <span class="wrapper" data-color={{ a.state[a._reading]|json|safe }}>
                    <span class="interactor-box">&nbsp;</span>
                </span>
            </span>
            <span class="interactor-message text-warning"></span>
            <span class="interactor-state text-muted"></span>
        </div>
    {% endif %}
</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
{% block body_footer %}
    <script>var settingsd = {{ settings()|json(2)|safe }};</script>
    <script src="mqttws31.js"></script>
    <script src="index.js"></script>
    <script src="interactor-color.js"></script>
{% endblock %}
