.action-subcommands {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
body.desktop .action-subcommands {
    float: right;
    margin-top: -33px;
}

.action-message {
    display: block;
}
.action-state {
    display: block;
}
li.action-item {
    -webkit-user-select: none;
}
li.action-item .action-name {
}

body.desktop li.action-item:hover {
    background: #EEE;
}
body.desktop li.action-item:active,
body.mobile li.action-item.touched {
    background: #DDD;
}

body.mobile li.action-item.running,
body.desktop li.action-item.running {
    background: #fcf8e3;
}

.interactor .box {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
}
.minicolors-theme-default .minicolors-swatch {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 0px;
}

.minicolors-theme-default .minicolors-input {
    padding: 0px;
    border-radius: 4px;
}
.action-edit-permission {
    color: white;
}
