.interactor-interactor {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
body.desktop .interactor-interactor {
    float: right;
    margin-top: -33px;
}

.interactor-message {
    display: block;
}
.interactor-state {
    display: block;
}
li.interactor-item {
    -webkit-user-select: none;
}
li.interactor-item .interactor-name {
}

body.desktop li.interactor-item:hover {
    background: #EEE;
}
body.desktop li.interactor-item:active,
body.mobile li.interactor-item.touched {
    background: #DDD;
}

body.mobile li.interactor-item.running,
body.desktop li.interactor-item.running {
    background: #fcf8e3;
}

.interactor .box {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
}
.minicolors-theme-default .minicolors-swatch {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 0px;
}

.minicolors-theme-default .minicolors-input {
    padding: 0px;
    border-radius: 4px;
}
.interactor-edit-permission {
    color: white;
}
